#define TOPIC_ONLINE                   "infob3it/student0xx/garden/state/online"
#define TOPIC_MANUAL                   "infob3it/student0xx/garden/state/manual"
#define TOPIC_TIME_SINCE_LAST_WATERING "infob3it/student0xx/garden/state/ts_last_watering"
#define TOPIC_CALIBRATE_MOIST          "infob3it/student0xx/garden/calibration/moist"
#define TOPIC_MOIST                    "infob3it/student0xx/garden/sense/moist"
#define TOPIC_LIGHT                    "infob3it/student0xx/garden/sense/light"
#define TOPIC_PRESSURE                 "infob3it/student0xx/garden/sense/pressure"
#define TOPIC_TEMPERATURE              "infob3it/student0xx/garden/sense/temperature"
#define TOPIC_WATER                    "infob3it/student0xx/garden/do/water"
#define TOPIC_SENSE                    "infob3it/student0xx/garden/do/sense"

